/*

Color : #e2aa11

*/
/*   Global    */
body{
    font-family: 'DroidArabicKufiRegular';
    background-color: #f6f6f6;
  -webkit-box-shadow:border-box;
    box-sizing: border-box;
}

/*  Eidting The Element Bootstrap And Uikit  */
.bg-light {
  background-color: #333!important;
}
.navbar-light .navbar-brand,.navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'fantezy';
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}
.nav-item .btn-danger{
  font-size: 13px;
}
.nav-item .btn-primary{
  font-size: 13px;
}
.nav-item .btn-success{
  font-size: 13px;
}

.nav-item .btn-success >  span{
  position: relative;
  top: 2px;
}

*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
    margin-top: 15px;
    padding-left: 10px;
}
.uk-width-1-3\@s {
      padding-left: 10px;
}
.Search-form {
  padding-right: 0
}
.uk-offcanvas-overlay::before {
    background: rgba(0, 0, 0, 0.63);

}
.uk-button-default {
  border: none;
}
.uk-nav h5 {
  margin-bottom:  30px;
}
.uk-nav li {
  margin-bottom:  10px;
  border-right: 1px solid #e37948;
}
.uk-nav li a{
  font-size:  15px;
  margin-right:  10px;
}
.uk-margin-left {
    margin-left: 0px!important;
}

.uk-card-body {
    padding: 0px 40px;
}
.uk-card-body {
      padding: 20px 12px;
}
.uk-grid {
    margin-left: 0;
}
.uk-card-default .uk-card-title {
    color: #333;
    font-size: 16px;
}
/* End Eidting the Element Bootstrap And Uikit  */


/* text   */
.text {
    padding: 10px 10px;
    margin-top: 10px;
}
.text h3 {
  font-size:  20px;
  letter-spacing:  -1px;
  padding: 0px 15px;
  font-weight:  bold;
}
/*  End Text */

/* form bg  */
.bg-form{
  background-color: #ffc118;
  padding: 10px;
  padding-bottom: 17px;
}

.Search-form .btn {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer;
}
/* End form bg  */

/* the-best   */
.the-best {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 1px 6px 20px 0px #0000000d;
  box-shadow: 1px 6px 20px 0px #0000000d;
}
.the-best p {
  margin-top: 10px;
font-weight: bold;
}
/* End the-best   */
/* text Cards Style  */
.text2 {
    padding: 20px 10px;
}

.text2 h3 {
  font-size:  22px;
  letter-spacing:  -1px;
  padding: 0px 20px;
  font-weight:  bold;
}

/*   Cards   */
.card {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 20px 0px #00000042;
    box-shadow: 0px 1px 20px 0px #0000002b;
}
.card-body {
    padding: 11px;
}
.card .card-img-top{
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.card .ta{
  position: absolute;
  left: 0;
  background: #ffc107;
  padding: 5px 11px;
  font-weight: bold;
}
.bg-pro .clearfix:nth-child(odd){
  clear: both;
}
.title{
  float: right;
}
.title h5{
  color: #1b1b1b;
}
.title span{
  font-size:  15px;
  color: #7b7b7b;
}
.more{
  float: left;
}
.more .price{
  text-align: center;
  font-size:  20px;
  position: relative;
  top: 11px;
  color: #6d6a6a;
}

.more a{
  margin-top: 20px;
  padding: 3px 12px;
  font-size: 14px;
}
/* pagination  */

.pagination{
  padding-right: 15px;
  height: 0px;
  font-family: cursive;
}
.page-link {
      color: #353333;
}


/* News  */
hr {
    margin-top: 0;
    margin-bottom:0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    max-width: 1110px;
    margin: 10px auto;
}
.text3 {
    padding: 12px 0px;
}

.text3 h3 {
  font-size:  22px;
  letter-spacing:  -1px;
  padding: 0px 30px;
  font-weight:  bold;
}
.news .container{

}
.news a {
  text-decoration: none;
}
.uk-card-body h3{
  color:  red;
  font-size: 18px;
}
.uk-card-body p{
  font-size: 13px;
}

.uk-card-body .price{
  font-size: 12px;
}
.uk-card-default {
    height: 135px;
}

.watchall{
  color: #000;
  text-decoration: underline!important;
  padding: 0 15px;
}

/*  footer  */

footer{
  background-color: #333;
  padding: 60px;
  margin-top: 20px;
}

.up-footer {
  color: #fff;
}

.up-footer label {
  margin: 16px 0px;
  color: #ddd;
  font-size: 13px;

}
.up-footer .input-group {
    width: 75%;
    border-radius: 0;
}
.up-footer .input-group .form-control {
    background-color: #ddd;
    font-size: 13px;
    border-radius: 0;
      color: #000;
}

.up-footer .btn-info {
    color: #fff;
    cursor: pointer;
    background-color: #dc3545;
    border-color: #dc3545;
}

.social{
  margin-top: 50px;
  float: left;
}
.social a{
  text-decoration: none;
  padding-left: 10px;

}
.social h3{
  font-size: 18px;
  margin-bottom: 25px;
  color: #ddd;
}

/* The Last Footer  */

.last{
  background: #ffc118;
  padding: 15px;
}

.down-footer{
    font-size: 13px;

}
.icon-footer{
  float: left;
}
.icon-footer a{
  font-size: 13px;
  color: #000;
  padding-left: 10px;

}


/* ======================
      style page first
======================== */

/*  breadcrumb    */
.bg-breadcrumb{
    box-shadow: 1px -1px 12px 0px #0000004d;
}
.breadcrumb,.bg-breadcrumb{
    background-color: #ffffff;

}

/* img Gallery  */
.main-content{
  background-color: #fff;
  height: auto;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 20px 0px #00000042;
  box-shadow: 0px 1px 20px 0px #0000002b;
}
.main-content h4{
  margin-top: 10px;
}
.main-content .area{
  font-size: 14px;
  color: #3c3c3c;
}
.main-img {

  max-width: 100%;
  margin-top: 12px;
}
.main-img  img {
    max-width: 100%;
}
.main-img .justify-content-center{
  overflow: hidden;
}

.main-img .justify-content-center a .img-fluid{
  width: 20%;
  float: right;
  border: 2px solid #0000009e;
  margin-top: 4px;
}
.ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
    position: absolute;
    left: 0;
}
/* table-section  */
.table-bordered td, .table-bordered th {
    border: 1px solid #dadada;
}
.table-section{
  margin-top: 30px
}
.table-section h4{
  font-size: 20px;
  margin-bottom: 20px;
}
.rtl th{
  width: 160px;
  max-width: 100%;
}




/*  sidebar */

.sidebar{
  max-width: 100%;
}
.sidebar iframe{
  max-width: 100%;
  max-height: 230px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 1px 20px 0px #00000042;
  box-shadow: 0px 1px 20px 0px #0000002b;
}

.rate{
  background-color: #fff;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1px 9px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 20px 0px #00000042;
  box-shadow: 0px 1px 20px 0px #0000002b;
}

.rate h3{
  text-align: center;
  background-color: #e9ecef;
  padding: 20px;
  margin-top: 5px;
}
.rate span{
  font-size: 14px;
  color: #333333;
  }
.progress{
  width: 290px;
  max-width: 100%;
  margin-bottom: 10px;
}

.share{
  background-color: #fff;
  height: auto;
  border-radius: 5px;
  padding-bottom: 8px;
  -webkit-box-shadow: 0px 1px 20px 0px #00000042;
  box-shadow: 0px 1px 20px 0px #0000002b;
}

.share p{
  font-size: 20px;
  margin-bottom: 10px;
}
.share a{
  padding-right: 10px;
  text-decoration: none;
  margin-bottom: 10px
}


/*
==========================================
  Login Pgae styles
==========================================
*/
.bg-log{
    background-color: red
}
.main-login{
  width: 600px;
  margin: 40px auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 20px 0px #0000001c;
}
.img-pro{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.img-pro img{
    width: 100px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.height{
  height: 1000px;
}
.forget{
  font-size: 14px;
  float: left;
}

.input-group-addon:not(:last-child) {
    border: 1px solid #ced4da;
}
.modal-footer .btn-success{
  width: 100%;
  cursor: pointer;
}

/*
==========================================
  forget_password Pgae styles
==========================================
*/

.forget-text{
  margin-top: 40px;
  color: #484848;
}
.not-reg {
    padding: 10px 20px;
}
.not-reg p {
    float: right;
}
.not-reg .last-log{
  float: left;
}


/*
==========================================
  Bankaccount Pgae styles
==========================================
*/
.bank{
  background-color: #fff;
  padding: 40px;
  height: auto;
  -webkit-box-shadow: 0px 1px 20px 0px #0000000a;
  box-shadow: 0px 1px 20px 0px #0000000a;
}
.bank p{
    margin: 25px 0;
}
.bank main{
    margin: 20px 0;
}

/*
==========================================
  Contact Us Pgae styles
==========================================
*/
.contactus {
  width: 700px;
    margin: auto;
    max-width: 100%;
}
.contactus h2{
    margin-top: 20px;
}
.contactus h2 , .contactus p{
    padding: 0px 20px;
}
.contactus main {
  margin-bottom: 10px;
}
.contactus .number{
    margin-bottom: 20px;
}



/*
==========================================
afterlogin Pgae styles
==========================================
*/

.dropdown img{
  border-radius: 50%;
  width: 50px;
  max-width: 100%;
  cursor: pointer;
}
.rtl .navbar-nav .nav-item {
    margin-top: 10px;
    margin-left: 20px;
}
.dropdown-menu {
    position: relative;
    top: 123%;
    right: 0;
    left: 0;
}
.dropdown-item {
    border: 0;
    padding: 7px 8px;
    font-size: 15px;
}
.hr-menu{
  margin: 0;
}


/*
==========================================
service Pgae styles
==========================================
*/
.modal-content .title-info{
  color: #6d6d6d;
  font-size: 25px;
  margin: 20px ;
}
.img-info{
  box-sizing: border-box;
  margin: 20px auto;
  height: 120px;
  position: relative;
  z-index: 1;
  right: -20px;
  cursor: pointer;

}
.img-info > img{
  border-radius: 50%;
  position: absolute;
  z-index: 0;

}
.img-info input{
  overflow: hidden;
  width: 21%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}
.btn {
    cursor: pointer;
}

/*
==========================================
AddService Pgae styles
==========================================
*/
.upload-files{
  background-color: #fff;
  width: 740px;
  max-width: 100%;
  padding: 20px;
  margin: 40px auto;
}

.upload-files h3{
  margin: 7px 0 30px;
}

/*
==========================================
  documentByMobile Pgae styles
==========================================
*/

.var{
  margin: 100px auto;
  width: 700px;
  max-width: 100%;
  background-color: #fff;
  padding: 60px 0px;
  -webkit-box-shadow: 0px 1px 20px 0px #0000000a;
  box-shadow: 0px 1px 20px 0px #0000000a;
}

.main-doc span{
  font-family: cursive;

}
.main-doc input{
    width: 500px;
    margin: 30px auto;
}




/*     Media Query     */
@media (max-width: 576px) {
  .form-control {
    margin-top: 10px;
  }
  .uk-card-default {
    height: auto;
  }
  *+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
   margin-top: 0px;
  }
  .text h3 {
    font-size: 15px;
  }
  footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .up-footer label {
    font-size: 12px;
  }
  .up-footer .input-group {
      width:100%;
  }
  .social {
    float: none;
  }
  .down-footer {
    font-size: 13px;
    text-align: center;
  }
  .icon-footer {
    float:none;
    text-align: center;
  }
  .icon-footer a {
    font-size: 10px;
  }
  .up-footer .btn-info {
    margin-top: 10px;
  }

}

@media (max-width: 768px) {
  .uk-card-default {
    height: auto;
  }
}
